*.json

#ignore all xilinx files except essential project files
*.pdf
JPU/*
!JPU/vhdl
!JPU/*.pptx
!JPU/JPU.xise
!JPU/JPU.wcfg
!JPU/ipcore_dir/
JPU/ipcore_dir/*
!JPU/ipcore_dir/blockram.xco
!JPU/ipcore_dir/blockram.xise
